.body {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 20px;
}

.title {
	max-width: 70%;
	font-weight: bold;
	font-size: 16px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview-bg-light {
	background-color: #f5f7fa;
}

.preview-bg-dark {
	background-color: #000;
}

.preview-text-empty {
	color: #909399;
}

.icon-empty {
	font-size: 48px;
}
